<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC65XAqkHXFZWbQxQXyH-S13wU_TvohYhs</string>
	<key>GCM_SENDER_ID</key>
	<string>398572823341</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.habittrackertute</string>
	<key>PROJECT_ID</key>
	<string>habitly-4c3f6</string>
	<key>STORAGE_BUCKET</key>
	<string>habitly-4c3f6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:398572823341:ios:e5382b02e26fafb720e9a4</string>
</dict>
</plist>